.popup__heading {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 330px;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 34px;
  margin-bottom: 54px;
}
@media screen and (max-width: 768px) {
  .popup__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 650px) {
  .popup__heading {
    width: 238px;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 25px;
  }
}
