.popup__button-save_disabled {
  width: 358px;
  height: 50px;
  margin-top: 48px;
  background-color: #000;
  color: #fff;
  padding: 0;
  margin-left: 36px;
  border: 0;
  border-radius: 2px;
  border-radius: 10px;
  opacity: 1;
}
.popup__button-save_disabled:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
}
@media screen and (max-width: 650px) {
  .popup__button-save_disabled {
    width: 238px;
    height: 46px;
    margin-top: 45px;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 25px;
  }
}
