.profile__name {
  width: 294px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .profile__name {
    width: 100%;
    /* width: 189px; */
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  .profile__name {
    width: 200px;
    margin-bottom: -4px;
  }
}
