.popup__container {
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
 }
@media screen and (max-width: 450px) {
  .popup__container {
    width: 88%;
    min-height: 322px;
    margin-left: 19px;
    margin-right: 19px;
  }
}
