.profile__occupation {
  width: 336px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0 auto;
  align-self: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .profile__occupation {
    width: 87%;
  }
}
@media screen and (max-width: 650px) {
  .profile__occupation {
    width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-left: -40px;
  }
}
