.profile__button-edit-vector {
  min-width: 10px;
  height: 10px;
  margin: 0;
  background-image: url(../../../../images/Vector1.svg);
  /* background: #FFFFFF; */
  background-color: black;
  color: #545454;
}
/* .profile__button-edit-vector:hover {
  opacity: 0.6;
} */
/* @media screen and (max-width: 768px) {
  .profile {
    padding-top: 42px;
  }
}*/
@media screen and (max-width: 650px) {
  .profile__button-edit-vector {
    min-width: 7.5px;
    height: 7.5px;
    margin-left: -3px;
    margin-top: -2px;
   /*  max-width: 282px;
    min-height: 286px;
    margin-left: 19px;
    margin-right: 19px;
    flex-direction: column;
    align-items: center; */
  }
}
