.profile__info-name {
  width: 336px;
  height: 18px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .profile__info-name {
    /* padding-top: 88px; */
  }
}
@media screen and (max-width: 650px) {
  .profile__info-name {
    width: 282px;
    height: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-left: -40px;
  }
}
