.profile {
  max-width: 880px;
  /* width: 85%; */
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  padding-bottom: 51px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 20px;
}
@media screen and (max-width: 1000px) {
  .profile {
    max-width: 700px;
    /* width: 85%; */
  }
}
@media screen and (max-width: 768px) {
  .profile {
    padding-top: 42px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 650px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    column-gap: 0;
    row-gap: 0;
  }
}
