.elements__ikonka {
  /*   width: 20px;
    height: 19px;
    background: #000000;
    display: flex; */
    color: #fff;
    background-color: #fff;
    border: 1px solid #fff;
  }
/* @media screen and (max-width: 768px) {
  .places {
    padding-top: 88px;
  }
}
@media screen and (max-width: 320px) {
  .places {
    padding-top: 64px;
  }
}
 */
