.elements__line {
  display: flex;
  align-items: center;
  /*display: grid;*/
  /*grid-template-columns: 190px 1fr;*/
  /*column-gap: 30px;*/
  /*align-content: space-between;*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
