.header__line {
  max-width: 880px;
  height: 0px;
  margin-top: 41px;
  opacity: 0.7;
  border: 1px solid #545454;
  margin-bottom: 0;
}
@media screen and (max-width: 900px) {
  .header__line {
    max-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .header__line {
  }
}
@media screen and (max-width: 320px) {
  .header__line {
    max-width: 320px;
  }
}
