.header__logo {
  width: 142px;
  height: 33px;
 /*  margin-top: 45px;
  margin-left: 200px; */
  background-image: url(../../../images/Vector.svg);
  background-size: contain;

  /* background-color: #fff; */
}
@media screen and (max-width: 500px) {
  .header__logo {

  }
}
@media screen and (max-width: 320px) {
  .header__logo {
    min-width: 104px;
    min-height: 25px;
    margin-left: 27px;
  }
}
