.elements__button-cerdce {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/Vector_cerdce.svg);
  color: #fff;
}
.elements__button-cerdce:hover {
  opacity: 0.5;
}
.elements__button-cerdce:active {
   background-image: url(../../../images/Union.svg);
   color: black;
}
