.elements__button-cerdce {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/Vector_cerdce.svg);
  color: #fff;
}
.elements__button-cerdce:hover {
  opacity: 0.5;
}
.elements__button-cerdce:active {
   background-image: url(../../../images/Union.svg);
   /* background-color: black; */
   color: black;
}
/* @media screen and (max-width: 768px) {
  .add__button-cerdce {
    padding-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 320px) {
  .add__button-cerdce {
    max-width: 282px;
    height: 2317px;
    padding-top: 36px;
    margin-left: 19px;
    margin-right: 19px;
  }
} */
