.elements {
  width: 880px;
  height: 744px;
  margin-top: 51px;
}
/* @media screen and (max-width: 768px) {
  .places {
    padding-top: 88px;
  }
}
@media screen and (max-width: 320px) {
  .places {
    padding-top: 64px;
  }
}
 */
