.elements {
  max-width: 880px;
  height: 744px;
  margin-top: 51px;
  margin-left: 200px;
  margin-right: 200px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .elements {
    padding-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 320px) {
  .elements {
    max-width: 282px;
    height: 2317px;
    padding-top: 36px;
    margin-left: 19px;
    margin-right: 19px;
  }
}
