.elements__title {
  width: 197px;
  height: 23px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  background-color: #fff;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* @media screen and (max-width: 768px) {
  .places {
    padding-top: 88px;
  }
}
@media screen and (max-width: 320px) {
  .places {
    padding-top: 64px;
  }
}
 */
