.popup__close {
  width: 48px;
  height: 48px;
  background-image: url(../../../images/Close\ Icon.svg);
  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
  position: absolute;
  top: 145px;
  display: flex;
  cursor: pointer;
  transition: opacity .4s;
  margin-left: 670px;
  border: 0;
 }
 .popup__close:hover {
  opacity: 0.6;
 }
@media screen and (max-width: 768px) {
  .popup__close {
    padding-top: 42px;
  }
}
@media screen and (max-width: 320px) {
  .popup__close {

  }
}
