.popup__close {
  width: 48px;
  height: 48px;
  background-image: url(../../../images/Close\ Icon.svg);
  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
  align-self: center;
  background-position: center;
  background-repeat: repeat-x;
  position: absolute;
  top: -40px;
  left: 418px;
  display: flex;
  cursor: pointer;
  transition: opacity .4s;
  border: 0;
  padding: 0;
 }
 .popup__close:hover {
  opacity: 0.6;
 }

@media screen and (max-width: 650px) {
  .popup__close {
    width: 26px;
    height: 26px;
    top: -42px;
    left: 405px;
    background-size: revert;
  }
}
@media screen and (max-width: 450px) {
  .popup__close {
    top: -12%;
    left: 88%;
  }
}
