.popup__item {
  border: 0;
  width: 358px;
  height: 25px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  margin-top: 30px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  padding-bottom: 13px;
  margin-left: auto;
  margin-right: auto;

}
.popup__item:focus {
  outline-color: #fff6c5;
}
@media screen and (max-width: 650px) {
  .popup__item {
    width: 238px;
    height: 27px;
  }
}
@media screen and (max-width: 450px) {
  .popup__item {
    width: 238px;
    height: 27px;
    margin-top: 30px;
    margin-left: 22px;
    margin-right: 22px;
    flex-direction: column;
    align-items: center;
  }
}
