.profile__avatar_button {
  opacity: 0;
  position: absolute;
  border: none;
  border-radius: 50%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
.profile__avatar_button:hover {
  background-image: url(../../../images/changes.svg);
  background-color: #000;
  opacity: .8;
}
