.profile__button-edit-vector {
  max-width: 10px;
  height: 10px;
  margin: 0 auto;
  background-image: url(../../../../images/Vector1.svg);
  background-size: cover;
  background-color: black;
  color: #545454;
  padding: 0;
}
@media screen and (max-width: 650px) {
  .profile__button-edit-vector {
    max-width: 7.5px;
    height: 7.5px;
  }
}
