.profile__button-add {
  min-width: 150px;
  height: 50px;
  margin-top: 38px;
  border: 2px solid #FFFFFF;
  background-color: black;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  margin-left: auto;
  padding: 0;
}
.profile__button-add:hover {
  opacity: 0.6;
}
@media screen and (max-width: 1000px) {
  .profile__button-add {
   /*  margin-left: 90px; */
  }
}
@media screen and (max-width: 768px) {
  .profile__button-add {
    /* padding-top: 42px; */
   /*  margin-left: 90px; */
  }
}
@media screen and (max-width: 650px) {
  .profile__button-add {
    width: 282px;
    height: 50px;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
   /*  max-width: 282px;
    min-height: 286px;
    margin-left: 19px;
    margin-right: 19px;
    flex-direction: column;
    align-items: center; */
  }
}
