.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
/* @media screen and (max-width: 768px) {
  .places {
    padding-top: 88px;
  }
}
@media screen and (max-width: 320px) {
  .places {
    padding-top: 64px;
  }
} */
