.profile__info {
  width: 336px;
  height: 73px;
  margin-left: 30px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 297px 1fr;
  column-gap: 9px;
  row-gap: 9px;
  grid-template-rows: 34px 1fr;
  align-content: center;
  justify-content: start;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .profile__info {
    width: 282px;
    height: 54px;
  }
}
@media screen and (max-width: 320px) {
  .profile__info {
    grid-template-columns: 244px 1fr;
    column-gap: 10px;
    row-gap: 14px;
    grid-template-rows: 34px 1fr;
    /* padding-top: 64px; */
  }
}
