.elements__line {
  display: grid;
  grid-template-columns: 190px 1fr;
  column-gap: 30px;
  align-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* @media screen and (max-width: 768px) {
  .places {
    padding-top: 88px;
  }
}
@media screen and (max-width: 320px) {
  .places {
    padding-top: 64px;
  }
}
 */
