.footer {
  max-width: 880px;
  padding-top: 98px;
  padding-bottom: 60px;
 /*  margin-left: 200px;
  margin-right: 200px; */
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  .footer {
    max-width: 700px;
    padding-top: 48px;
    /* margin-left: 19px;
    margin-right: 19px; */
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding-left: 25px;
    padding-right: 25px;
   /*  padding-top: 48px;
    margin-left: 19px;
    margin-right: 19px; */
  }
}

@media screen and (max-width: 650px) {
  .footer {
    width: 282px;
    height: 14px;
    padding-top: 48px;
    padding-bottom: 36px;
 /*    display: grid;
    justify-items: start;
    justify-content: start;
    align-content: space-between; */
  }
}
