.elements__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  padding: 0;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 1000px) {
  .elements__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 17px;
    row-gap: 20px;
  }
}
@media screen and (max-width: 650px) {
  .elements__list {
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    column-gap: 17px;
    row-gap: 20px;
  }
}
