.page {
  max-width: 1280px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  /*min-height: 6800px;
  padding-top: 22px;*/
  background-color: #000;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif, line-height;
}
.page__section {
  margin: 0 auto;
  box-sizing: border-box;
}
/*сброс отступов*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul, li, p, h3, h2, div, img {
  border: 1px solid red;
}
/*сброс отступов*/

.header {
  max-width: 1184px;
  padding-top: 45px;
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header__logo {
  width: 142px;
  height: 33px;
 /*  margin-top: 45px;
  margin-left: 200px; */
  background-image: url(../images/Vector.svg);
  background-size: contain;

  /* background-color: #fff; */
}
.header__line {
  width: 880px;
  height: 0px;
  margin-top: 41px;
  opacity: 0.7;
  border: 1px solid #545454;
}
.profile {

}
