.page {
  max-width: 1280px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  /*min-height: 6800px;
  padding-top: 22px;*/
  background-color: #000;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif, line-height;
}
.page__section {
  margin: 0 auto;
  box-sizing: border-box;
}
/*сброс отступов*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul, li, p, h3, h2, div, img {
  border: 1px solid red;
}
/*сброс отступов*/

.header {
  max-width: 100%;
  padding-top: 45px;
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header__logo {
  width: 142px;
  height: 33px;
 /*  margin-top: 45px;
  margin-left: 200px; */
  background-image: url(../images/Vector.svg);
  background-size: contain;

  /* background-color: #fff; */
}
.header__line {
  width: 880px;
  height: 0px;
  margin-top: 41px;
  opacity: 0.7;
  border: 1px solid #545454;
}
.profile {
  max-width: 1184px;
  padding-top: 40px;
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
}
.avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.edit__button {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.profile__info {
  width: 336px;
  height: 73px;
  margin-left: 30px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.profile__info-avtor {
  width: 294px;
  height: 39px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  /* or 114% */
  color: #FFFFFF;
}
.profile__info-info {
  width: 336px;
  height: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.add__button {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  margin-left: 200px;
}
.vector {
  height: 22px;
  left: 77.66%;
  right: 20.62%;
  text-align: center;
  background: #FFFFFF;
}
.elements {
  width: 880px;
  height: 744px;
  margin-top: 51px;
}
.element {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 20px;
}
.elements__item {
  width: 282px;
  height: 361px;
  border-radius: 10px;
}
.elements__img {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}
.elements__title {
  width: 106px;
  height: 23px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  background-color: #fff;
}
.elements__ikonka {

}
.footer {
  max-width: 1184px;
  padding-top: 28px;
  margin-left: 48px;
  margin-right: 48px;
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}
.footer__copyright {
  max-width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: right;
  color: #FFF;
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}
