

/*сброс отступов*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul, li, p, h3, h2, div, img {
  border: 1px solid red;
}
/*сброс отступов*/






.edit__button {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-color: black;
  box-sizing: border-box;
  margin-top: 17px;
}
.edit__button-vector {
  min-width: 10px;
  height: 10px;
  background-image: url(../images/Vector1.svg);
  /* background: #FFFFFF; */
  background-color: black;
  color: #545454;
}

.add__button {
  min-width: 150px;
  height: 50px;
  margin-top: 27px;
  border: 2px solid #FFFFFF;
  background-color: black;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  margin-left: 200px;
}
.add__button-vector {
  width: 20px;
  height: 22px;
  background-image: url(../images/Vector+.svg);
  background-color: black;
  color: #545454;
  text-align: center;
  align-self: center;
  margin: auto;
 /*  background: #FFFFFF; */
}






.add__button-cerdce {
  width: 22px;
  height: 19px;
  background-image: url(../images/Vector_cerdce.svg);
  color: #fff;
}
.add__button-cerdce:hover {
  opacity: 0.5;
}
.add__button-cerdce:active {
   background-image: url(../images/Union.svg);
   /* background-color: black; */
   color: black;
}
/* #heart {
  position:relative;
  width:100px;
  height:90px;
  margin-top:10px;
}
#heart:before {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 52px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
}
#heart:before {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
     -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
       -o-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
     -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
       -o-transform-origin: 100% 100%;
          transform-origin :100% 100%;
} */
/* #heart {
  position: relative;
  width: 100px;
  height: 90px;
  margin-top: 10px;
}

#heart::before, #heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: red;
}

#heart::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
 */
 .popup {
  width: 430px;
  height: 330px;
  /* width: 320px;
  height: 568px; */
  position: absolute;
  display: none;
  margin-left: 350px;
 }
 .popup_opened {
  display: block;
 }
 .form__container {
  height: 100px;
  background-color: #fff;
 }
  .form__admin {
    /* height: 100vh; */
 }
.form__main-container {
 /*  height: calc(100vh - 40px);
  overflow-y: scroll; */
  background-color: #fff;
}
.form__heading {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  width: 330px;
  height: 23px;
 /*  width: 238px; */
  /* margin: 22px auto 0; */
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 34px;
  margin-bottom: 24px;
}
.form__input-container {
  width: 240px;
  margin: auto;
  padding-bottom: 37px;
  border: 0;
}
.form__input-container_ctrl_texts {

}
.form__label {
  margin: 30px auto 0;
  font-size: 20px;
  line-height: 30px;
  display: block;
}
.form__item {
  border: 0;
  width: 358px;
  height: 25px;
  /* width: 238px;
  height: 14px; */
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  background-color: transparent;
  margin-top: 5px;
  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
  display: block;
  padding-bottom: 13px;
}
.form__item:focus {
  outline-color: #fff6c5;
}
.form__item_el_heading {
 /*  width: 358px;
  height: 0px;
  opacity: 0.2;
  border: 1px solid #000000; */
}
.form__item_el_subheading {

}
.edit {
  width: 358px;
  height: 50px;
}
.edit__bu {
  width: 358px;
  height: 50px;
  margin-top: 48px;
  background-color: #000;
  color: #fff;
}
