@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__section/page__section.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);


@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__occupation/profile__occupation.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);



@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__group/elements__group.css);
@import url(../blocks/elements/__img/elements__img.css);
@import url(../blocks/elements/__item/elements__item.css);
@import url(../blocks/elements/__line/elements__line.css);
@import url(../blocks/elements/__title/elements__title.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__item/popup__item.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);
