 .popup__button-save_active {
  width: 358px;
  height: 50px;
  margin-top: 48px;
/*   background-color: #000; */
  color: #fff;
  padding: 0;
  margin-left: 36px;
  border: 0;
  border-radius: 2px;
  opacity: 1;
}
.popup__button-save_active:hover {
  background: #000;
  opacity: 0.8;
}
@media screen and (max-width: 650px) {
  .popup__button-save_active {
    width: 238px;
    height: 46px;
    margin-top: 45px;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 25px;
  }
}
