.elements__group {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/Vector_cerdce.svg);
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 0;
  background-size: cover;
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: auto;
}
.elements__group:hover {
  opacity: 0.5;
}
