.popup__close-card-img {
  width: 40px;
  height: 40px;
  background-image: url(../../../images/Close\ Icon.svg);
  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
  align-self: center;
  background-position: center;
  background-repeat: repeat-x;
  position: absolute;
  top: -40px;
  right: -40px;
  display: flex;
  cursor: pointer;
  transition: all .5s ease-in;
  border: 0;
  padding: 0;
 }
 .popup__close-card-img:hover {
  opacity: 0.6;
 }

@media screen and (max-width: 650px) {
  .popup__close-card-img {
    width: 20px;
    height: 20px;
    top: -25px;
    right: -25px;
    background-size: revert;
  }
}
@media screen and (max-width: 450px) {
  .popup__close-card-img {
    top: -11%;
    right: 0%;
  }
}
